/* src/Css/AboutUs.css */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.about-container h1 {
  font-size: 4em;
  margin-bottom: 15px;
  color: #e6cc07;
  text-align: center;
}

.about-container p {
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: justify;
}

  
  .about-us-container h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #e6cc07; /* Primary color */
  }
  
  .about-us-container p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 200px;
    margin-left: 100;
    margin-right: 100;
    margin-top: 100;
    text-align: justify;
  }

  * Location Section Styling */
.location {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.location h2 {
  font-size: 3em;
  color: #e6cc07;
  margin-bottom: 10px;
}

.location p {
  font-size: 1.1em;
  margin: 5px 0;
}