/* AdminDashboard.css */

.dashboard-title {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #004085;
}

.table {
    margin-top: 10px;
}

.table th, .table td {
    text-align: left;
}

.btn {
    font-size: 0.9rem;
}

.list-group-item {
    font-size: 1rem;
}
