.auction-listings-container {
  padding: 40px;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
  position: relative; /* Allows positioning of child elements */
}

.auction-listings-container h1 {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.filter-sort-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 10px;
}

.filter-sort-options input,
.filter-sort-options select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
}

.auction-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.auction-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.auction-item:hover {
  transform: scale(1.05);
}

.auction-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #3b3030;
}

.auction-item p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
}

.bid-now-button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bid-now-button:hover {
  background-color: #e6cc07;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination button {
  background-color: #065664;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #05c3b1;
}

.pagination span {
  font-size: 1.2em;
  color: #333;
}

/* Styles for the buttons in the top right corner */
.top-right-buttons {
  background-color: #795757; /* Secondary button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


.btn-primary {
  background-color: #07e6d2; /* Primary button color */
  color: #fff;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #05c3b1; /* Darker shade for hover effect */
}

.btn-secondary {
  background-color: #065664; /* Secondary button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268; /* Darker shade for hover effect */
}

.auction-item-image {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px; /* Adds rounded corners */
  margin-bottom: 15px; /* Space between image and text */
}
